.btn-primary{
    background: gray;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    
}
.nav-link:hover{
    text-decoration: none;
}
.btn-primary:hover{
    color: green;
    text-decoration: none;
    
    
    
}
.img{
    width: 230px;
    height: auto;
}